<template>
 <div>
    <div class="form-group">
       <router-link to="/orders/view" class="btn btn-default">Назад</router-link>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">Редактировать заказ</div>
        <div class="panel-body">
           <form v-on:submit="saveForm()">
              <div class="row">
                 <div class="col-xs-3 form-group">
                    <span>Статус заказа: </span><span>{{ orders.status_order }}</span><br>
                    <span>Статус заказа: </span><span>{{ orders.codefkshop }}</span>
                 </div>
                 <div class="col-xs-3 form-group">
                    <span>Статус выгрузки: </span><br><span>{{ orders.status_delivery }}</span>
                 </div>
                 <div class="col-xs-3 form-group">
                    <a href="#"
                    class="btn btn-success"
                    v-on:click="">
                    Выгрузить в СДЭК
                    </a><br>
                    <a href="#"
                    class="btn btn-success"
                    v-on:click="">
                    Выгрузить в Гуру
                    </a><br>
                    <a href="#"
                    class="btn btn-success"
                    v-on:click="">
                    Распечатать накладную СДЭК
                    </a><br>
                    <a href="#"
                    class="btn btn-success"
                    v-on:click="">
                    Отправить трэк номер
                    </a>
                 </div>
              </div>
              <div class="row">
                <hr>
              </div>
              <div class="row">
                    <div class="col-xs-6 form-group">
                    <span>№ заказа: {{ orders.number_order }}</span><br>
                    <span>ФИО: </span><input type="text" v-model="orders.fio_delivery" class="form-control">
                    <span>Сумма к оплате: </span><input type="text" v-model="orders.total_order" class="form-control">
                    <span>Оценочная стоимость: </span><input type="text" v-model="orders.total_est_order" class="form-control">
                    <span>Дата доставки: </span><input type="text" v-model="orders.date_delivery" class="form-control">
                    <span>Время доставки: </span><input type="text" v-model="orders.time_delivery" class="form-control">
                    <span>Город: </span><input type="text" v-model="orders.to_delivery" class="form-control">
                    <span>Адрес: </span><input type="text" v-model="orders.address_delivery" class="form-control">
                    <span>Телефон: </span><input type="text" v-model="orders.phone_delivery" class="form-control">
                    <span>ПВЗ: </span><input type="text" v-model="orders.pickup_delivery" class="form-control">

                    </div>

                    <div class="col-xs-6 form-group">
                        <span>Коментарий: </span><textarea rows="3" v-model="orders.comment_delivery" class="form-control"></textarea>
                        <span>Пометки магазина: </span><textarea rows="3" v-model="orders.comment_order" class="form-control"></textarea>
                        <br>
                        <span>Товары: </span>
                    </div>
              </div>

              <div class="row">
                <hr>
              </div>

              <div class="row">
                <div class="col-xs-6 form-group">
                    <span>Дополнительные данные для Гуру: </span>
                </div>
                <div class="col-xs-6 form-group">
                    <span>Дополнительные данные для СДЭК: </span>
                </div>
              </div>

              <div class="row">
                 <div class="col-xs-12 form-group">
                    <button class="btn btn-success">Сохранить</button>
                 </div>
              </div>
           </form>
       </div>
     </div>
 </div>
</template>

<script>
 export default {
    mounted() {
       let app = this;
       let id = app.$route.params.id;
       app.ordersId = id;
       axios.get('/api/v1/orders/' + id)
         .then(function (resp) {
             app.orders = resp.data;
          })
         .catch(function () {
             alert("Не удалось загрузить заказ")
          });
    },
    data: function () {
        return {
           ordersId: null,
           orders: {
               code: ''
          }
       }
    },
    methods: {
       saveForm() {
          event.preventDefault();
          var app = this;
          var newOrders = app.orders;
          axios.patch('/api/v1/orders/' + app.ordersId, newOrders)
              .then(function (resp) {
                   app.$router.replace('/orders/view');
              })
              .catch(function (resp) {
                    console.log(resp);
                    alert("Не удалось сохранить заказ");
               });
        }
     }
 }
</script>