<template>
 <div>
    <div class="form-group">
       <router-link to="/orders/view" class="btn btn-default">Назад</router-link>
    </div>

     <div class="panel panel-default" id="page">
        <div class="panel-heading">Редактировать заказ</div>
        <div class="panel-body">
           <form v-on:submit="saveForm()">
              <div class="row">
                 <div class="col-xs-3 form-group">
                    <span>Статус заказа: </span><span>{{ orders.status_order }}</span><br>
                    <span>Статус заказа: </span><span>{{ orders.codefkshop }}</span>
                 </div>
                 <div class="col-xs-3 form-group">
                    <span>Статус выгрузки: </span><br><span>{{ orders.status_delivery }}</span>
                 </div>
                 <div class="col-xs-3 form-group">

                    <a href="#"
                    class="btn btn-success"
                    v-on:click="sendSD();">
                    Выгрузить в СДЭК
                    </a><br>
                    <a href="#"
                    class="btn btn-success"
                    v-on:click="">
                    Выгрузить в Гуру
                    </a><br>

                    <a href="#"
                    class="btn btn-success"
                    v-on:click="">
                    Распечатать накладную СДЭК
                    </a><br>
                    <a href="#"
                    class="btn btn-success"
                    v-on:click="">
                    Отправить трэк номер
                    </a>
                 </div>
              </div>
              <div class="row">
                <hr>
              </div>
              <div class="row">
                    <div class="col-xs-6 form-group">
                    <span>№ заказа: {{ orders.number_order }}</span><br>
                    <span>ФИО: </span><input type="text" v-model="orders.fio_delivery" class="form-control">
                    <span>Сумма к оплате: </span><input type="text" v-model="orders.total_order" class="form-control">

                    <span>Оценочная стоимость: </span><input type="text" v-model="orders.total_est_order" class="form-control">

                    <span>Дата доставки: </span><input type="text" v-model="orders.date_delivery" class="form-control" >
                    <span>Время доставки: </span><input type="text" v-model="orders.time_delivery" class="form-control">
                    <span>Город: </span><input type="text" v-model="orders.to_delivery" class="form-control">
                    <span>Адрес: </span><input type="text" v-model="orders.address_delivery" class="form-control">
                    <span>Телефон: </span><input type="text" v-model="orders.phone_delivery" class="form-control">
                    <span>ПВЗ: </span><input type="text" v-model="orders.pickup_delivery" class="form-control">

                    </div>

                    <div class="col-xs-6 form-group">
                        <span>Коментарий: </span><textarea rows="3" v-model="orders.comment_delivery" class="form-control"></textarea>
                        <span>Пометки магазина: </span><textarea rows="3" v-model="orders.comment_order" class="form-control"></textarea>
                        <br>
                        <span>Товары: </span>
                            <table class="table table-bordered table-striped">
                             <thead>
                              <tr>
                               <th>Наименование</th>
                               <th>Модель</th>
                               <th>Цена за единицу</th>
                               <th>Количество</th>
                              </tr>
                             </thead>
                             <tbody>
                             <tr v-for="orderproduct, index in orderproducts">
                               <td>{{ orderproduct.title }}</td>
                               <td>{{ orderproduct.model }}</td>
                               <td>{{ orderproduct.price }}</td>
                               <td>{{ orderproduct.quantity }}</td>

                             </tr>
                            </tbody>
                           </table>
                    </div>
              </div>

              <div class="row">
                <hr>
              </div>

              <div class="row">
                <div class="col-xs-6 form-group">
                    <span>Дополнительные данные для Гуру: </span>
                </div>
                <div class="col-xs-6">Дополнительные данные для СДЭК: </div>
                <div class="col-xs-6 form-group">

                    <div class="col-xs-6">
                        <span>Вес: </span>
                            <input type="text" v-model="orders.p1" class="form-control">
                        <span>Длина: </span>
                            <input type="text" v-model="orders.p2" class="form-control">
                        <span>Ширина: </span>
                            <input type="text" v-model="orders.p3" class="form-control">
                        <span>Высота: </span>
                            <input type="text" v-model="orders.p4" class="form-control">

                        <hr>
                        <span>Вес: </span>
                            <input type="text" v-model="orders.p11" class="form-control">
                        <span>Длина: </span>
                            <input type="text" v-model="orders.p12" class="form-control">
                        <span>Ширина: </span>
                            <input type="text" v-model="orders.p13" class="form-control">
                        <span>Высота: </span>
                            <input type="text" v-model="orders.p14" class="form-control">


                    </div>
                    <div class="col-xs-6">
<!--
                        <span>Описание груза: </span>
                            <input type="text" v-model="orders.p_note" class="form-control"><br>
-->
                        <span>Тип услуги: </span><br>
                            <input type="radio" value="1" v-model="orders.type_delivery"><label style="margin-left: 7px;">склад-дверь</label><br>
                            <input type="radio" value="2" v-model="orders.type_delivery"><label style="margin-left: 7px;">склад-склад</label><br>

<!--
                        <br>
                        <span>Страхование</span><br>
                            <span>Оценочная стоимость: </span><br>
                            <input type="text" v-model="orders.total_est_order" class="form-control">
-->
                    </div>
                </div>
              </div>

              <div class="row">
                 <div class="col-xs-12 form-group">
                    <button class="btn btn-success">Сохранить</button>
                 </div>
              </div>
           </form>
<hr>Дли примера все данные что есть<hr>
             <div class="row">
                <div class="col-xs-12 form-group">
                  <label class="control-label">Магазин</label><br>
<span>{{ orders.codefkshop }}</span><br>
                  <label class="control-label">Номер заказа</label><br>
<span>{{ orders.number_order }}</span><br>
                  <label class="control-label">Дата заказа</label><br>
<span>{{ orders.date_order }}</span><br>
                  <label class="control-label">Статус заказа</label><br>
<span>{{ orders.status_order }}</span><br>
                  <label class="control-label">Сумма</label><br>
<span>{{ orders.total_order }}</span><br>
                  <label class="control-label">Оценочная сумма</label><br>
<span>{{ orders.total_est_order }}</span><br>
                  <label class="control-label">Коментарий</label><br>
<span>{{ orders.comment_order }}</span><br>
                  <label class="control-label">Дата доставки</label><br>
<span>{{ orders.date_delivery }}</span><br>
                  <label class="control-label">Время доставки</label><br>
<span>{{ orders.time_delivery }}</span><br>
                  <label class="control-label">Из</label><br>
<span>{{ orders.from_delivery }}</span><br>
                  <label class="control-label">В</label><br>
<span>{{ orders.to_delivery }}</span><br>
                  <label class="control-label">Адрес доставки</label><br>
<span>{{ orders.address_delivery }}</span><br>
                  <label class="control-label">Самовывоз</label><br>
<span>{{ orders.pickup_delivery }}</span><br>
                  <label class="control-label">ФИО</label><br>
<span>{{ orders.fio_delivery }}</span><br>
                  <label class="control-label">Телефон</label><br>
<span>{{ orders.phone_delivery }}</span><br>
                  <label class="control-label">Статус доставки</label><br>
<span>{{ orders.status_delivery }}</span><br>
                  <label class="control-label">Коментарий к доставке</label><br>
<span>{{ orders.comment_delivery }}</span><br>

                </div>
              </div>


       </div>
     </div>
 </div>
</template>

<script>
 export default {
    mounted() {
       let app = this;
       let id = app.$route.params.id;
       app.ordersId = id;
       axios.get('/admin/public/api/v1/orders/' + id)
         .then(function (resp) {
             app.orders = resp.data;
             if (app.orders.date_delivery == '1990-01-01') {
                app.orders.date_delivery = '';
             }
          })
         .catch(function () {
             alert("Не удалось загрузить заказ")
          });
       axios.get('/admin/public/order/products/'+id)
         .then(function (resp) {
             app.orderproducts = resp.data;
          })
         .catch(function () {
             alert("Не удалось загрузить товары заказа")
          });

    },
    data: function () {
        return {
           ordersId: null,
           orders: {
               code: ''
          },
          orderproducts: []
       }
    },
    methods: {
       saveForm() {
          event.preventDefault();
          var app = this;
          var newOrders = app.orders;
          $('#page').hide();
           if (newOrders.date_delivery == '') {
              newOrders.date_delivery = '1990-01-01';
           }

          axios.patch('/admin/public/api/v1/orders/' + app.ordersId, newOrders)
              .then(function (resp) {
                   app.$router.replace('/orders/view');
              })
              .catch(function (resp) {
                    console.log(resp);
                    alert("Не удалось сохранить заказ");
               });
       }
     }
 }
</script>