<template>
 <div>
    <div class="form-group">
       <router-link to="/orders/view" class="btn btn-default">Назад</router-link>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">Добавить заказ</div>
        <div class="panel-body">
           <form v-on:submit="saveForm()">
             <div class="row">
                <div class="col-xs-6 form-group">
                  <label class="control-label">Магазин</label>
                  <input type="text" v-model="orders.codefkshop" class="form-control">
                  <label class="control-label">Номер заказа</label>
                  <input type="text" v-model="orders.number_order" class="form-control">
                  <label class="control-label">Дата заказа</label>
                  <input type="text" v-model="orders.date_order" class="form-control">
                  <label class="control-label">Статус заказа</label>
                  <input type="text" v-model="orders.status_order" class="form-control">

                  <label class="control-label">Сумма</label>
                  <input type="text" v-model="orders.total_order" class="form-control">
                  <label class="control-label">Оценочная сумма</label>
                  <input type="text" v-model="orders.total_est_order" class="form-control">
                  <label class="control-label">Коментарий</label>
                  <input type="text" v-model="orders.comment_order" class="form-control">

                  <label class="control-label">Дата доставки</label>
                  <input type="text" v-model="orders.date_delivery" class="form-control">
                  <label class="control-label">Время доставки</label>
                  <input type="text" v-model="orders.time_delivery" class="form-control">
                  <label class="control-label">Из</label>
                  <input type="text" v-model="orders.from_delivery" class="form-control">
                  <label class="control-label">В</label>
                  <input type="text" v-model="orders.to_delivery" class="form-control">
                  <label class="control-label">Адрес доставки</label>
                  <input type="text" v-model="orders.address_delivery" class="form-control">

                  <label class="control-label">Самовывоз</label>
                  <input type="text" v-model="orders.pickup_delivery" class="form-control">
                  <label class="control-label">ФИО</label>
                  <input type="text" v-model="orders.fio_delivery" class="form-control">
                  <label class="control-label">Телефон</label>
                  <input type="text" v-model="orders.phone_delivery" class="form-control">
                  <label class="control-label">Статус доставки</label>
                  <input type="text" v-model="orders.status_delivery" class="form-control">
                  <label class="control-label">Коментарий к доставке</label>
                  <input type="text" v-model="orders.comment_delivery" class="form-control">

                </div>
              </div>
              <div class="row">
                 <div class="col-xs-12 form-group">
                    <button class="btn btn-success">Добавить</button>
                 </div>
              </div>
           </form>
       </div>
     </div>
 </div>
</template>

<script>
 export default {
 data: function () {
    return {
      orders: {
      code: ''
    }
 }
 },
 methods: {
   saveForm() {
      event.preventDefault();
      var app = this;
      var newOrders = app.orders;
      axios.post('/public/api/v1/orders', newOrders)
          .then(function (resp) {
              app.$router.push({path: '/orders/view'});
           })
           .catch(function (resp) {
               console.log(resp);
               alert("Не удалось создать заказ");
            });
        }
     }
 }
</script>