<template>
 <div>
  <div class="form-group">
    <a href="#/orders/view"
    class="btn btn-success"
    v-on:click="sendSDEntry()">
    Выгрузить выделенные в СДЭК
    </a>
    <a href="#/orders/view"
    class="btn btn-success"
    v-on:click="sendGREntry()">
    Выгрузить выделенные в Гуру
    </a>
  </div>

  <div class="panel panel-default">
    <table class="table table-bordered table-striped">
     <thead>
     <tr><th colspan=3>Спиок заказов</th></tr>
      <tr>
       <th><a v-on:click="sortDataByID();" style="cursor: pointer">ID</a></th>
       <th><a v-on:click="sortDataByNUMBER();" style="cursor: pointer">Номер заказа</a><br>---<br><a v-on:click="sortDataByNAME();" style="cursor: pointer">Сайт</a></th>
       <th>ФИО</th>
       <th>Сумма</th>

       <th><a v-on:click="sortDataBySTATUS_ORDER();" style="cursor: pointer">Статус заказа</a></th>
       <th>Коментарий</th>
       <th>Город<br>---<br>Время</th>
       <th><a v-on:click="sortDataByDATE_DELIVERY();" style="cursor: pointer">Дата доставки</a></th>

       <th>Самовывоз<br>---<br>Адрес доставки</th>
       <th><a v-on:click="sortDataBySTATUS_DELIVERY();" style="cursor: pointer">Статус доставки</a></th>
      </tr>
     </thead>
     <tbody>
     <tr v-for="order, index in orders">
       <td>{{ order.id }}<br>
        <router-link :to="{name: 'editOrders', params: {id: order.id}}" class="btn btn-xs btn-default">
            EDIT
        </router-link>
        <a href="#"
        class="btn btn-xs btn-danger"
        v-on:click="deleteEntry(order.id, index)">
        DEL
        </a>
       </td>
       <td>{{ order.number_order }}<br>{{ order.codefkshop }}<br>
        <input type="checkbox" :id="`checkbox-${order.id}`" :value="order.id" name="ords">
       </td>
       <td>{{ order.fio_delivery }}</td>
       <td>{{ order.total_order }}</td>

       <td>{{ order.status_order }}</td>
       <td>{{ order.comment_order }}</td>
       <td>{{ order.to_delivery }}<br>{{ order.time_delivery }}</td>
        <td v-if="order.date_delivery == '1990-01-01'"></td>
        <td v-else>{{ order.date_delivery }}</td>
       <td>{{ order.pickup_delivery }}<br>{{ order.address_delivery }}</td>
       <td>{{ order.status_delivery }}</td>

     </tr>
    </tbody>
   </table>
 </div>
 </div>
</template>

<script>
 export default {
 data: function () {
    return {
      orders: []
    }
    },
 mounted() {
    var app = this;
    app.sort_id = false;
    app.sort_number = false;
    app.sort_name = false;

    //app.sort_date_order = false;
    app.sort_date_delivery = false;

    app.sort_status_order = false;
    app.sort_status_delivery = false;

    axios.get('/admin/public/api/v1/orders')
    .then(function (resp) {
    app.orders = resp.data;
    })
    .catch(function (resp) {
        console.log(resp);
        alert("Не удалось загрузить заказы");
    });
 },
 computed: {

 },
 methods: {
    deleteEntry(id, index) {
        if (confirm("Вы действительно хотите заказ?")) {
            var app = this;
            axios.delete('/admin/public/api/v1/orders/' + id)
            .then(function (resp) {
                app.orders.splice(index, 1);
            })
            .catch(function (resp) {
                alert("Не удалось удалить заказ");
            });
        }
    },
    sendSDEntry() {
         var values = [];
         $('input[name="ords"]:checked').each(function() {
             values.push($(this).val());
         });
        axios.get('/admin/public/sendSD', {
            params: {
              IDs: values
            }
          })
          .then(function (resp) {
            alert("Отправили заказы в CDEK"+' ['+values+']');
          })
          .catch(function (resp) {
            console.log(resp);
            alert("Не удалось отправить заказы в СДЕК");
          });
    },
    sendGREntry() {
         var values = [];
         $('input[name="ords"]:checked').each(function() {
             values.push($(this).val());
         });
         alert('выгрузим ids ['+values+'] в Гуру')
         /*
        axios.get('/admin/public/sendGR', {
            params: {
              IDs: values
            }
          })
          */
    },
    sortDataByID() {
        var app = this;
        if (app.sort_id) {
            app.orders.sort(function(a, b) {
                app.sort_id = false;
                return +(a.id) - (b.id);
            });
        } else {
            app.orders.sort(function(a, b) {
                app.sort_id = true;
                return -(a.id) + (b.id);
            });
        }
    },
    sortDataByNUMBER() {
        var app = this;
        if (app.sort_number) {
            app.orders.sort(function(a, b) {
                app.sort_number = false;
                return +parseInt(a.number_order) - parseInt(b.number_order);
            });
        } else {
            app.orders.sort(function(a, b) {
                app.sort_number = true;
                return -parseInt(a.number_order) + parseInt(b.number_order);
            });
        }
    },
    sortDataByNAME() {
        var app = this;
        if (app.sort_name) {
            app.orders.sort(function(a, b) {
                app.sort_name = false;
                if ((a.codefkshop) > (b.codefkshop)) {
                    return 1;
                }
                if ((a.codefkshop) < (b.codefkshop)) {
                    return -1;
                }

                if ((a.codefkshop) = (b.codefkshop)) {
                    return 0;
                }

            });
        } else {
            app.orders.sort(function(a, b) {
                app.sort_name = true;
                if ((a.codefkshop) > (b.codefkshop)) {
                    return -1;
                }
                if ((a.codefkshop) < (b.codefkshop)) {
                    return 1;
                }

                if ((a.codefkshop) = (b.codefkshop)) {
                    return 0;
                }

            });
        }

    },
/*
    sortDataByDATE_ORDER() {
        var app = this;
        if (app.sort_date_order) {
            app.orders.sort(function(a, b) {
                app.sort_date_order = false;
                return +Date.parse((a.date_order)) - Date.parse((b.date_order));
            });
        } else {
            app.orders.sort(function(a, b) {
                app.sort_date_order = true;
                return -Date.parse((a.date_order)) + Date.parse((b.date_order));
            });
        }
    },
*/
    sortDataByDATE_DELIVERY() {
        var app = this;
        if (app.sort_date_delivery) {
            app.orders.sort(function(a, b) {
                app.sort_date_delivery = false;
                return +Date.parse((a.date_delivery)) - Date.parse((b.date_delivery));
            });
        } else {
            app.orders.sort(function(a, b) {
                app.sort_date_delivery = true;
                return -Date.parse((a.date_delivery)) + Date.parse((b.date_delivery));
            });
        }
    },
    sortDataBySTATUS_ORDER() {
        var app = this;
        if (app.sort_status_order) {
            app.orders.sort(function(a, b) {
                app.sort_status_order = false;
                if ((a.status_order) > (b.status_order)) {
                    return 1;
                }
                if ((a.status_order) < (b.status_order)) {
                    return -1;
                }

                if ((a.status_order) = (b.status_order)) {
                    return 0;
                }

            });
        } else {
            app.orders.sort(function(a, b) {
                app.sort_status_order = true;
                if ((a.status_order) > (b.status_order)) {
                    return -1;
                }
                if ((a.status_order) < (b.status_order)) {
                    return 1;
                }

                if ((a.status_order) = (b.status_order)) {
                    return 0;
                }

            });
        }

    },
    sortDataBySTATUS_DELIVERY() {
        var app = this;
/*
        if (app.sort_status_delivery) {
            app.orders.sort(function(a, b) {
                app.sort_status_delivery = false;
                a.status_delivery == 'не определен';2
                b.status_delivery == 'не определен';1

                if ((a.status_delivery) > (b.status_delivery)) {
                    return 1;
                }
                if ((a.status_delivery) < (b.status_delivery)) {
                    return -1;
                }

                if ((a.status_delivery) = (b.status_delivery)) {
                    return 0;
                }

            });
        } else {
            app.orders.sort(function(a, b) {
                app.sort_status_delivery = true;
                a.status_delivery == 'не определен';4
                b.status_delivery == 'не определен';3

                if ((a.status_delivery) > (b.status_delivery)) {
                    return -1;
                }
                if ((a.status_delivery) < (b.status_delivery)) {
                    return 1;
                }

                if ((a.status_delivery) = (b.status_delivery)) {
                    return 0;
                }

            });
        }
*/

    }
 }
 }

</script>
