<template>
 <div>
  <div class="form-group">
   <router-link :to="{name: 'createShopsetting'}" class="btn btn-success">Добавить магазин</router-link>
  </div>

  <div class="panel panel-default">
   <div class="panel-heading">Спиок магазинов</div>
   <div class="panel-body">
    <table class="table table-bordered table-striped">
     <thead>
      <tr>
      <th>ID</th>
       <th>Code</th>
       <th>Host</th>
       <th>Port</th>
       <th>DB_name</th>
       <th>User Name</th>
       <th>Password</th>
       <th>Prefix</th>
       <th>Type (opencart_2 | opencart_3)</th>
       <th>&nbsp;</th>
      </tr>
     </thead>
     <tbody>
     <tr v-for="shopsetting, index in shopsettings">
     <td>{{ shopsetting.id }}</td>
       <td>{{ shopsetting.code }}</td>
       <td>{{ shopsetting.host }}</td>
       <td>{{ shopsetting.port }}</td>
       <td>{{ shopsetting.db_name }}</td>
       <td>{{ shopsetting.user_name }}</td>
       <td>{{ shopsetting.password }}</td>
       <td>{{ shopsetting.prefix }}</td>
       <td>{{ shopsetting.type }}</td>
     <td>
     <router-link :to="{name: 'editShopsetting', params: {id: shopsetting.id}}" class="btn btn-xs btn-default">
      Редактировать
    </router-link>
     <a href="#"
       class="btn btn-xs btn-danger"
       v-on:click="deleteEntry(shopsetting.id, index)">
       Удалить
      </a>
     </td>
     </tr>
    </tbody>
   </table>
 </div>
 </div>
 </div>
</template>

<script>
 export default {
 data: function () {
    return {
      shopsettings: []
    }
    },
 mounted() {
    var app = this;
    axios.get('/admin/public/api/v1/shopsetting')
    .then(function (resp) {
    app.shopsettings = resp.data;
 })
 .catch(function (resp) {
    console.log(resp);
    alert("Не удалось загрузить настройки магазинов");
 });
 },
 methods: {
   deleteEntry(id, index) {
   if (confirm("Вы действительно хотите удалить магазин из настроек?")) {
     var app = this;
     axios.delete('/admin/public/api/v1/shopsetting/' + id)
     .then(function (resp) {
     app.shopsettings.splice(index, 1);
 })
 .catch(function (resp) {
    alert("Не удалось удалить магазин из списка настроек");
 });
 }
 }
 }
 }
</script>