<template>
 <div>
    <div class="form-group">
       <router-link to="/shopsetting/view" class="btn btn-default">Назад</router-link>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">Добавить магазин</div>
        <div class="panel-body">
           <form v-on:submit="saveForm()">
             <div class="row">
                <div class="col-xs-6 form-group">
                  <label class="control-label">Code</label>
                  <input type="text" v-model="shopsetting.code" class="form-control">
                  <label class="control-label">Host</label>
                  <input type="text" v-model="shopsetting.host" class="form-control">
                  <label class="control-label">Port</label>
                  <input type="text" v-model="shopsetting.port" class="form-control">
                  <label class="control-label">DB_name</label>
                  <input type="text" v-model="shopsetting.db_name" class="form-control">
                  <label class="control-label">User Name</label>
                  <input type="text" v-model="shopsetting.user_name" class="form-control">
                  <label class="control-label">Password</label>
                  <input type="text" v-model="shopsetting.password" class="form-control">
                  <label class="control-label">Prefix</label>
                  <input type="text" v-model="shopsetting.prefix" class="form-control">
                  <label class="control-label">Type (opencart_2 | opencart_3)</label>
                  <input type="text" v-model="shopsetting.type" class="form-control">
                </div>
              </div>
              <div class="row">
                 <div class="col-xs-12 form-group">
                    <button class="btn btn-success">Добавить</button>
                 </div>
              </div>
           </form>
       </div>
     </div>
 </div>
</template>

<script>
 export default {
 data: function () {
    return {
      shopsetting: {
      code: ''
    }
 }
 },
 methods: {
   saveForm() {
      event.preventDefault();
      var app = this;
      var newShopsetting = app.shopsetting;
      axios.post('/admin/public/api/v1/shopsetting', newShopsetting)
          .then(function (resp) {
              app.$router.push({path: '/shopsetting/view'});
           })
           .catch(function (resp) {
               console.log(resp);
               alert("Не удалось создать магазин");
            });
        }
     }
 }
</script>